@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.font-kulim{
  font-family: 'Kulim Park', sans-serif;
}

.text-2xs{
  font-size: 0.575rem;
  line-height: 1rem;
}
.text-3xs{
  font-size: 0.5rem;
  line-height: 0.75rem;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #102A3D;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #001C30;
}

::-webkit-scrollbar-track {
  background: #000B13;
}